# ros_lib for arduino
trainning_data_builder/ros_lib/*

# photo for data
trainning_data_builder/pattern/*
data_augmentation/data/* 

# pycharm file
.idea/*

# resnet model
deeplab_resnet/snapshots/*

# all point cloud data
*.pcd
pcl/Point_cloud_data/*.pcd

# all build file
pcl/remove_Nan/build
pcl/robust_pose_estimation/build
pcl/PCLVisualizer/build
pcl/Hypothesis_Verification_for_3D_Object_Recognition/build
pcl/normal_distributions_transform/build
pcl/matrix_transform/build
